h1 {
    background-color: #f00;
}
.pok {
    text-transform: uppercase;
}
div {
    width: 300px;
    height: 300px;
    background-image: url(https://assets.pokemon.com/static2/_ui/img/og-default-image.jpeg);
    background-size: cover;
    color: #f00;
    padding: 5px 15px;
}
.mid {
    margin: -17px 0 0 53px;
}
a {
    font-weight: bold;
    font-size: 18px;
    color: blue;
}
a, h3, li {
    text-transform: capitalize;
}
